$gj-green: #006934;
button {
  font-family: "Noto Sans KR", sans-serif;
  background-color: inherit;
  border: none;
}
* {
  box-sizing: border-box;
}
p,
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
input {
  border: none;
  background-color: none;
}

a {
  color: initial;
  text-decoration: none;
}
